html{
    background: #94C8CF;
}

#banner{
    background: #B0C1ED;
    position: relative;
    width: 900px;
    height: 120px;
}

img{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    height: 100px;


}

h1{
    position: relative;
    top: 30px;
    left: 170px;
    font-family: 'Open Sans', sans-serif;
}

div{
    margin-left: 350px;


}

#text1{
    font-family: 'Open Sans', sans-serif;
}